.login_bg {
    position: relative;
    background-color: #cdcdcd;
    display: flex;
    padding-left: 450px;
    align-items: center;
}

.title {
    color: #000000;
    text-transform: uppercase;
}

.col {
    display: flex;
    justify-content: center;
}

.button-container {
    text-align: center;
}

.boton-control {
    font-size: 0.9rem;
    padding: 0.2rem 1rem;
    border: none;
    margin-right: 20px;
    border-radius: 8px;
}

.boton-control:hover {
    background-color: black;
    color: white;
  }