<h1 mat-dialog-title>Inicio de Sesión</h1>
<div mat-dialog-content>
    <form [formGroup]="formLogin">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Usuario:</mat-label>
                    <input matInput formControlName="username" maxlength="16">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" maxlength="16">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <button type="button" class="btn btn-outline-primary" [disabled]="!isFormValid" (click)="signIn()">Ingresar</button>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button (click)="closeSignIn()">Cerrar</button>
</div>