<div class="login_bg">
    <h1 mat-dialog-title class="title">BIENVENIDO {{this.user.name}}</h1>
</div>
<br>
<div mat-dialog-content>
    <div class="container-bus">
        <div class="row">
            <mat-form-field class="col" appearance="outline">
                <mat-label>Seleccione un Curso</mat-label>
                <mat-select [(ngModel)]="selectedCourse">
                    <mat-option *ngFor="let course of listCoursesTeacher" [value]="course.name">
                        {{ course.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button class="btn-bus" (click)="filterRecords()">Buscar</button>
        </div>
    </div>

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">NombreAlumno</th>
                    <th scope="col">Deberes</th>
                    <th scope="col">Proyecto</th>
                    <th scope="col">Examen</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let record of filteredListRecords">
                    <td>{{ record.nameStudent }}</td>
                    <td>{{ record.gradeHomework }}</td>
                    <td>{{ record.gradeProject }}</td>
                    <td>{{ record.gradeExam }}</td>
                    <td>
                        <button mat-icon-button (click)="openForm(record)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>