<mat-sidenav-container class="c-nav">
    <mat-sidenav #sidenav mode="side" opened class="nav">
        <mat-nav-list>
            <a mat-list-item *ngFor="let item of menuItems || []" [routerLink]="item.route">
                <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
                <span matListItemTitle>{{item.label}}</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>