.login_bg {
    position: relative;
    background-color: #cdcdcd;
    display: flex;
    padding-left: 450px;
    align-items: center;
}

.title {
    color: #000000;
    text-transform: uppercase;
}

.col {
    display: flex;
    justify-content: center;
}
.table-container {
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    max-width: 800px; /* Limita el ancho máximo del contenedor */
}
.container-bus{
    margin-left: 290px;
    margin-right: 550px;
}

.btn-bus{
    width: 90px;
    height: 35px;
    background-color: #cccccc;
    margin-top: 10px;
    border-radius: 8px;
    border:none;
}
.btn-bus:hover{

    background-color: #000000;
    color: white;
}